BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
DerivePointerAlignment: false 
PointerAlignment: Left
ColumnLimit: 0
SpacesInParentheses: true
SortIncludes: false